<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= @title %></title>
    <style>
      body {
        font-family: Helvetica, Arial, sans-serif;
        color: whitesmoke;
        background-color: rosybrown;
      }

      a {
        color: teal;
        text-decoration: none;
      }

      p {
        margin-top: 0;
      }

      h4 {
        margin-bottom: 5px;
        padding-bottom: 0;
      }

      ul {
        list-style-type: none;
        padding-left: 0;
        margin-top: 0;
      }

      .header {
        color: bisque
      }

      .user_counts {
        color: bisque
      }
    </style>
  </head>
  <body>
    <div id="main">
      <div class="header">
        <h1>Users and Interests</h1>
      </div>

      <div class="content">
        <%= yield %>
      </div>
    </div>

    <div class="user_counts">
      <p>There are <%= @total_users %> users with a total of <%= count_interests %> interests.</p>
    </div>
  </div>
  </body>
</html>